@import "../../consts/colors.scss";

.solicitar-retiro {
  border-top: 27px solid $grey;
  min-height: 70vh;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .solicitar-container {
    height: 60vh;
    width: 40vw;
    padding-left: 20vw;
    padding-right: 20vw;
    box-shadow: 1px 5px 7px 7px $blackTransparent;

    .solicitar-title {
      h2 {
        color: $primary;
      }
      p {
        color: $rosado;
        font-weight: bolder;
      }
    }

    .solicitud-formulario {
      label {
        font-weight: bolder;
      }
    }
  }
}
