@import "../../consts/colors.scss";
.admin-dashboard {
  min-height: 70vh;
  height: 70vh;
  border-top: 27px solid $grey;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}
