@import "../../consts/colors.scss";

header {
  height: 11vh;
  width: 100vw;
  border-bottom: 10px solid;
  border-image-slice: 1;
  border-image-source: $primaryGradient;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .left-container {
    height: 100%;
    width: 50%;
    padding-top: 2%;
    margin-left: 11.5%;

    img {
      height: 7vh;
      width: 8vw;
      margin-right: 2%;
      cursor: pointer;
    }
  }

  .rigth-container {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    .sesion {
      padding-top: 2%;
      margin-right: 50px;
      display: flex;
      p {
        margin: 0px;
      }
      .info {
        strong {
          text-transform: uppercase;
        }
      }

      .iconos {
        margin-left: 50px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: $blackMenosTransparente;
        cursor: pointer;

        svg {
          transform: rotate(90deg);
        }
      }
    }
  }
}
